@import url(assets/scripts/sanitize.css);

body {
    background-color: #f0f0f0;
    padding : 15px;
    font-size : 14px;
    color: #666;

}
.container {
    width: 1000px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    margin: 0 auto;

}
header {
    padding: 10px;
    color: rgb(32, 160, 219)
    
}


.my_name{
    margin: 0;
    font-size: 100px;
    font-weight: normal;
    text-align: center;

}
.information h1{
    margin:  10px;
    font-size: 60px;
    text-align: center;
}
.information h2{
    margin: 10px;
    font-size: 30px;

}
.discription {
    margin: 15px;
    font-size: 20px;
    padding:  15px;
}
h3{
    margin: 20px 15px 15px;
    font-size: 25px;
}